


/* width of the scrollbar */
::-webkit-scrollbar {
  width: 9px;
}

/* background (track) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1000px;
}

/* draggable part (thumb) */
::-webkit-scrollbar-thumb {
  background: #f4b400;
  border-radius: 100px;
}

/* thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f4b400;
}


